<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="APIAutomationSuite"
       parallel="classes"
       thread-count="4">

    <test name="CRUD API Tests">

        <classes>

            <class name="tests.GetUserTest"/>
            <class name="tests.CreateUserTest"/>
            <class name="tests.UpdateUserTest"/>
            <class name="tests.DeleteUserTest"/>

        </classes>

    </test>

</suite>